header {
    background-color:rgb(48, 48, 53);
    color: white;
    font-size:10px;
}
body{
margin: 0;
padding-top:0;
}

#name h3{
margin-top:0;
}

.start {
padding:5px;
line-height: 0.8;box-sizing: border-box;
border-bottom: 4px solid gray; /* граница снизу */

}